body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}


main {
    margin-top: 70px;
}

.contact-section {
    padding: 40px 0;
    background-size: cover;
    background-position: center;
    color: #000000;
}

.contact-section h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.contact-info, .contact-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.contact-info h2, .contact-form h2 {
    color: #333;
}

.contact-info p {
    margin: 0 0 10px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-row {
    color: #000000;
    display: flex;
    gap: 20px;
}

.form-group {
    flex: 1;
}

.contact-form form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form form input, .contact-form form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form form button {
    padding: 10px;
    background-color: #0400ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.contact-form form button:hover {
    background-color: #000270;
}