body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 50px;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #575757;
    border-radius: 5px;
}

main {
    margin-top: 70px;
}

.contact-section {
    padding: 40px 0;
    background-size: cover;
    height: 70vh;
    background-position: center;
    color: #000000;
}

.contact-section h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.contact-info, .contact-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.contact-info h2, .contact-form h2 {
    color: #333;
}

.contact-info p {
    margin: 0 0 10px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-row {
    color: #000000;
    display: flex;
    gap: 20px;
}

.form-group {
    flex: 1;
}

.contact-form form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form form input, .contact-form form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form form button {
    padding: 10px;
    background-color: #0400ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.contact-form form button:hover {
    background-color: #000270;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
    }

    .form-row {
        flex-direction: column;
    }
}
